<%# <html> %>
<%- include('00a_header.ejs') %>

    <link rel = "stylesheet" href = "/css/05_news.css">

    <div id = "news-minisite-info" class = "minisite-info">
      <div class = "container">
        <div class = "row">
          <div class = "minisite-info-text col-md-7 col-lg-8">
            <h1>News</h1>
            <p>This minisite displays news articles in a predefined layout using a templating language (EJS, Embedded JavaScirpt). The articles are stored in MongoDB in JSON format.</p>
            <p>The German language was chosen as an alternative for Lorem Ipsum - to fill the site with content without drawing too much attention on the content itself.</p>
          </div>
        </div>
      </div>
      <div class = "minisite-info-image d-none d-md-block">
      </div>
    </div>
    
    <section class = "news-minisite">   
      <div id = "news-article-list" class = "container">
        <div class = "row">
    <% newsList.forEach((newsItem, index) => { %>
          <div class = "article-summary col-lg-4 col-sm-6">
            <a href = "/news/article/<%= newsItem.metadata.id %>/"><img class = "img-fluid img-border" src = "<%= newsItem.metadata.thumbnail %>"></a>
            <a href = "/news/article/<%= newsItem.metadata.id %>/"><h3><%= newsItem.metadata.title %></h3></a>
            <p><%= newsItem.metadata.summary %></p>
          </div>          
    <% }) %>
        </div>
      </div>
    </section>

<%- include('00b_footer.ejs') %>
<%# </html> %>