<%# <html> %>
<%- include('00a_header.ejs') %>

    <link rel = "stylesheet" href = "/css/05_news.css">

    <div id = "news-editor-minisite-info" class = "minisite-info">
      <div class = "container">
        <div class = "row">
          <div class = "minisite-info-text col-md-7 col-lg-8">
            <h1>Article editor</h1>
            <p>A WYSIWYG editor for the news section. An input field / text area is hidden behind each element and paragraph, inheriting the styling of the corresponding HTML tag.</p>
            <p>jQuery is used for the interactions such as inserting new fields, moving or deleting them and loading articles from or saving to the server.</p>
          </div>
        </div>
      </div>
      <div class = "minisite-info-image d-none d-md-block">
      </div>
    </div>

    <section class = "news-minisite  news-editor-minisite">

  
      <div class = "container">
        <div class = "row editor-list-buttons">
          <div class = "editor-list-button-container col-sm-4">            
            <button type = "button" id = "new-article-button" class = "btn">
              <span class = "material-symbols-outlined">draft</span>
              <div>New Article</div>
            </button>          
          </div>

          <div class = "editor-list-button-container col-sm-4">
            <button type = "button" id = "edit-draft-button" class = "btn">
              <span class = "material-symbols-outlined">edit_document</span>
              <div>Edit Draft</div>
            </button>
          </div>

          <div class = "editor-list-button-container col-sm-4">
            <button type = "button" id = "edit-published-button" class = "btn">
              <span class = "material-symbols-outlined">auto_stories</span>
              <div>Edit Published</div>
            </button>
          </div>
        </div>

        <div id = "editor-list-welcome">
          <p>Feel free to edit any of the articles in the draft or in the published section. No worries, the database has a backup.</p>
          <p>You can also give a new URL slug to an existing draft to "save as".</p>
        </div>

      <% if (drafts.length > 0) { %>      
        <section id = "editor-list-drafts" class = "editor-article-list d-none">
          <h1>Draft articles</h1>
          <div class = "row">
          <% drafts.forEach((articleItem, index) => { %>
            <div class = "article-summary col-lg-4 col-sm-6">
              <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
              <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><h3><%= articleItem.metadata.title %></h3></a>
              <p><%= articleItem.metadata.summary %></p>
            </div>
          <% }) %>
          </div>
        </section>
      <% } %>

      <% if (published.length > 0) { %>
        <section id = "editor-list-published" class = "editor-article-list d-none">
          <h1>Published articles</h1>
          <div class = "row">
          <% published.forEach((articleItem, index) => { %>
            <div class = "article-summary col-lg-4 col-sm-6">
              <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
              <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><h3><%= articleItem.metadata.title %></h3></a>
              <p><%= articleItem.metadata.summary %></p>
            </div>
          <% }) %>
          </div>
        </section>
      <% } %>
    
      </div>
    </section>

    <script src="/js/05_newseditor-main.js"></script>    

<%- include('00b_footer.ejs') %>
<%# </html> %>