<%# <html> %>
<%- include('00a_header.ejs') %>

    <link rel = "stylesheet" href = "/css/05_news.css">
    <!-- <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"> -->
  
    <div class = "container">
      <div class = "row editor-list-buttons">
        <div class = "editor-button-container col-sm-4">
          <a href = "/news/editor/edit/"><button type = "button" id = "new-article-button" class = "btn btn-simple">
            <span class = "material-symbols-outlined">draft</span>
            <div>New Article</div>
          </button></a>
        </div>

        <div class = "editor-button-container col-sm-4">
          <button type = "button" id = "edit-draft-button" class = "btn btn-simple">
            <span class = "material-symbols-outlined">edit_document</span>
            <div>Edit Draft</div>
          </button>
        </div>

        <div class = "editor-button-container col-sm-4">
          <button type = "button" id = "edit-published-button" class = "btn btn-simple">
            <span class = "material-symbols-outlined">auto_stories</span>
            <div>Edit Published</div>
          </button>
        </div>
      </div>

      <div id = "editor-list-welcome" class = "message-display">
        <p>Feel free to edit any of the articles in the draft or in the published section. No worries, the database has a backup.</p>
        <p>You can also give a new ID to an existing draft to "save as".</p>
      </div>

    <% if (drafts.length > 0) { %>      
      <section id = "editor-list-drafts" class = "d-none">
        <h1>edit draft articles</h1>
        <div class = "row">
        <% drafts.forEach((articleItem, index) => { %>
          <div class = "article-summary col-lg-4 col-sm-6">
            <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
            <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><h3><%= articleItem.metadata.title %></h3></a>
            <p><%= articleItem.metadata.summary %></p>
          </div>
        <% }) %>
        </div>
      </section>
    <% } %>

    <% if (published.length > 0) { %>
      <section id = "editor-list-published" class = "d-none">
        <h1>edit published articles</h1>
        <div class = "row">
        <% published.forEach((articleItem, index) => { %>
          <div class = "article-summary col-lg-4 col-sm-6">
            <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
            <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><h3><%= articleItem.metadata.title %></h3></a>
            <p><%= articleItem.metadata.summary %></p>
          </div>
        <% }) %>
        </div>
      </section>
    <% } %>

    <script src="/js/05_newseditor-list.js"></script>    

<%- include('00b_footer.ejs') %>
<%# </html> %>