<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/05_news.css">
    
    <div class = "container">
      <h1>news</h1>
      
      <div class = "row">
<% newsList.forEach((newsItem, index) => { %>
        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/news/article/<%= newsItem.metadata.id %>/"><img class = "img-fluid img-border" src = "<%= newsItem.metadata.thumbnail %>"></a>
          <a href = "/news/article/<%= newsItem.metadata.id %>/"><h3><%= newsItem.metadata.title %></h3></a>
          <p><%= newsItem.metadata.summary %></p>
      </div>          
<% }) %>
    </div>

<%- include('00b_footer.ejs') %>
<%# </html> %>