<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/05_news.css">

    <div class = "container">
      <div class = "col-sm-12 col-md-10 offset-md-1">
        
        
<% article.forEach((item, index) => { -%>
        <% if(item.element === "heading"){%><h2><%= item.content %></h2><%}-%>
        <% if(item.element === "heading" && index <= 3){%><p class = "article-author-date"><span><%= displaydate(metadata.date) %></span> <span><%= metadata.author %></span></p><%}-%>
        <% if(item.element === "lead-paragraph"){%><p class = "lead-paragraph"><%= item.content %></p><%}-%>
        <% if(item.element === "paragraph"){%><p><%= item.content %></p><%}-%>
        <% if(item.element === "subheading"){%><h3><%= item.content %></h3><%}-%>
        <% if(item.element === "quote"){%><blockquote><%= item.content %></blockquote><%}-%>
        <% if(item.element === "image"){%><img class = "img-fluid" src = "<%=item.content%>"><%}-%>
        <% if(item.element === "figcaption"){%><figcaption><%= item.content %></figcaption><%}-%>
<% }); -%>
        <p><a href = "/news/">Back</a></p>


      </div>
    </div>
<%- include('00b_footer.ejs') %>
<%# </html> %>

<%
  function displaydate(date) {
    if (!(date instanceof Date)){
      date = new Date(date);
    } if(!isNaN(date)){
      let YYYY = date.getFullYear();

      let MM = date.getMonth() + 1;  // getMonth(): january: 0, february: 1 ...
      if (MM < 10){MM = "0" + MM};
      
      let DD = date.getDate();
      if (DD < 10){DD = "0" + DD};

      let hh = date.getHours();
      if (hh < 10){hh = "0" + hh};

      let mm = date.getMinutes();
      if (mm < 10){mm = "0" + mm};

      let ss = date.getSeconds();
      if (ss < 10){ss = "0" + ss};

      return YYYY + "-" + MM + "-" + DD + ", " + hh + ":" + mm + ":" + ss;      
    } else {
      return "Date";
    }
  };
%>
